<footer>
    <div class="">
      <div class="row">
        <!-- Columna 1: Logo de la empresa -->
        <div class="col-md-2">
          <img src="assets/images/logo_ottis_vertical.png" width="100%" alt="Logo Empresa" class="footer-logo">
        </div>
  
        <!-- Columna 2: Texto breve -->
        <div class="col-md-4">
          <p class="footer-text">Somos una empresa Boyacense de tecnología, proveedores de servicio de acceso a internet, expertos en el área de telecomunicaciones.</p>
        </div>
  
        <!-- Columna 3: Enlaces y submenús -->
        <div class="col-md-2">
          <h5>Enlaces</h5>
          <ul>
            <li><a href="#">Enlace 1</a></li>
            <li><a href="#">Enlace 2</a></li>
            <!-- Agrega más enlaces según sea necesario -->
          </ul>
        </div>
  
        <!-- Columna 4: Logo de la asociación -->
        <div class="col-md-2 offset-md-2">
          <img src="assets/images/logo_soy_boyaca.png" width="100%" alt="Logo Asociación" class="footer-logo">
        </div>
      </div>
  
      <!-- Texto inferior centrado -->
      <div class="text-center bg-body-tertiary">
        <p>Ottis Comunicaciones</p>
        <p>Desarrollado por Future Solutions Development S.A.S.</p>
      </div>
    </div>
  </footer>
