.footer-ottis{
    /* background: burlywood; */
    margin-top: 50px;
    padding-top: 20px;
    color: #00529b;
}
/* .footer-text{
    color: #00529b;
} */
ul {
    list-style: none; /* Elimina los puntos o viñetas de la lista */
    padding: 0; /* Elimina el relleno predeterminado de la lista */
    margin: 0; /* Elimina el margen predeterminado de la lista */
  }
  
  /* Estilo adicional para los enlaces dentro de la lista */
  ul li a {
    text-decoration: none; /* Elimina la subrayado predeterminado de los enlaces */
  }