/* app.component.css */
.animated-button {
  position: relative;
  overflow: hidden;
}
 
.animated-button::before {
  content: '';
  position: absolute;
  /* background: #007bff; Color del botón */
  height: 100%;
  width: 100%;
  top: 0;
  left: -100%;
  transition: left 0.3s ease-out;
}
  
.animated-button:hover::before {
  left: 0;
}
  
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
  
.animated-button:hover {
  animation: pulse 0.6s infinite;
}
.fixed-button-container {
  position: fixed;
  z-index: 999; /* Z-index alto para que esté por encima de otros elementos */
}

.top-right {
  top: 300px; /* Altura fija desde la parte superior */
  right: 0; /* Alineado a la derecha de la pantalla */
}

.bottom-right {
  bottom: 50px; /* Altura fija desde la parte inferior */
  right: 0; /* Alineado a la derecha de la pantalla */
}
  