<!-- <p>internet works!</p> -->
<div class="info-internet container">
    <!-- <div class="row">
        <div class="card col-12 col-md-4 me-md-5">
            <div class="col-md-6 mx-auto">
                <img src="assets/images/logo_ottis_vertical.png" alt="" width="100%"> 
            </div>
            <div class="text-center">
                <h2><b class="title-card" >SERVICIOS</b><br> HOGAR</h2>
                <p>OTTIS Comunicaciones
                    suministra el MEJOR SERVICIO DE
                    INTERNET en viviendas urbanas y
                    rurales con las MEJORES
                    VELOCIDADES.</p>
            </div>
            
        </div>
        <div class="card col-12 col-md-4 ">
            <div class="col-md-6 mx-auto">
                <img src="assets/images/logo_ottis_vertical.png" alt="" width="100%"> 
            </div>
            <div class="text-center">
                <h2><b class="title-card" >SERVICIOS</b><br> EMPRESARIALES</h2>
                <p>Los SERVICIOS DE INTERNET
                    EMPRESARIAL que ofrecemos
                    permiten a las Empresas regionales
                    contar con un acceso estable y
                    permanente como herramienta
                    fundamental para el desarrollo de
                    cualquier actividad económica.</p>
            </div>
            
        </div>
        <div class="card col-12 col-md-4 ms-md-5">
            <div class="col-md-6 mx-auto">
                <img src="assets/images/logo_ottis_vertical.png" alt="" width="100%"> 
            </div>
            <div class="text-center">
                <h2><b class="title-card" >SERVICIOS</b><br> ESTATALES</h2>
                <p>Prestamos SERVICIOS DE INTERNET
                    a la medida de INSTITUCIONES
                    ESTATALES que cuentan con características
                    técnicas especiales.</p>
            </div>
            
        </div>
    </div> -->
    <div class="container servicios">
        <div class="row g-3 justify-content-center ">
          <div class="col-md-3 me-md-5 col-10 text-center rounded-box">
            <h3><b>SERVICIOS</b> <br> HOGAR</h3>
          </div>
          <div class="col-md-3 col-10 text-center rounded-box">
            <h3><b>SERVICIOS</b> <br> EMPRESARIALES</h3>
          </div>
          <div class="col-md-3 ms-md-5 col-10 text-center rounded-box">
            <h3><b>SERVICIOS</b> <br> ESTATALES</h3>
          </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="ribbon ribbon-red">
      <p class="text-white">Contenido de la cinta roja</p>
    </div>
    <div class="ribbon ribbon-blue">
      <p class="text-white">Contenido de la cinta azul</p>
    </div>
  </div>