/* app.component.css */
.rounded-box {
    background: #ffffff;
    color: #00529b;
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    box-shadow: 0px 0px 10px #00529b; /* Sombra */
    z-index: 10;
}

.servicios {
    color: #ffffff; /* Color del texto del div hijo */
    padding: 10px; /* Espaciado interno del div hijo */
    margin-top: -50px; /* Desplazamiento hacia abajo del div hijo */
    height: 150%;
} 
#carouselExampleAutoplaying{
    z-index: -10;
} 